[include klipper.cfg]
[include mainsail.cfg]

##################
###### MCUs ######
##################
[include MCUs/mcu_spider.cfg]
[include MCUs/mcu_rpi.cfg]
[include MCUs/mcu_sht36v2.cfg]
[include MCUs/mcu_tinyfan.cfg]

##################
##### Boards #####
##################
#[include Hardware/Boards/btt_skr3.cfg]
#[include Hardware/Boards/btt_ebb36.cfg]

##################
#### Hardware ####
##################
[include kinematics.cfg]
#[include Hardware/thermistors.cfg]
[include Hardware/heaters.cfg]
[include Hardware/fans.cfg]
[include Hardware/nevermore.cfg]
#[include Hardware/display.cfg]
#[include Hardware/lcd_tweaks.cfg]
#[include Hardware/misc.cfg]
#[include Hardware/nozzle_scrub.cfg]
[include Hardware/Axis/XY_Steppers.cfg]
[include Hardware/Axis/Z_Steppers.cfg]
[include Hardware/Axis/E_Stepper.cfg]
#[include Hardware/lights.cfg]
#[include Hardware/adxl.cfg]

################
#### Macros ####
################
[include Macros/macro_variables.cfg]
[include Macros/printing_macros.cfg]
[include Macros/sensorless_homing.cfg]
[include Macros/helper_macros.cfg]
#[include Macros/misc_macros.cfg]
#[include Macros/shell_commands.cfg]
[include Macros/filament_swap.cfg]
[include Macros/Calibration/calibration.cfg]
[include Macros/Calibration/pa_calibrate.cfg]
#[include Macros/lights_rgb_macros.cfg]
#[include Macros/nozzle_swipe.cfg]

################
#### Klicky Macros ####
################
#[include Macros/Klicky/klicky-specific.cfg]              
#[include Macros/Klicky/klicky-variables.cfg]   
#[include Macros/Klicky/klicky-macros.cfg]
#[include Macros/Klicky/klicky-bed-mesh-calibrate.cfg]
#[include Macros/Klicky/klicky-z-tilt-adjust.cfg]

################
##### MISC #####
################
#[include Misc/input_shaper.cfg]

################
#### Probe ####
################
#[include Probe/probe.cfg]
#[include Probe/voron_boop.cfg]
[include Probe/beacon.cfg]
[include Probe/adaptive_bed_mesh.cfg]